<% provide(:title, 'About Us') %>
<!-- Second Band (Image Left with Text) -->
 
  <div class="row portfolio">
    <h4><span class="line"></span>
        About W&amp;Y Associates LLC
        <span class="line"></span>
    </h4>
    <br />
    <div class="row">
      <div class="large-8 large-offset-2 columns">
        <dl>
          <dt>Our Mission &amp; Strategy</dt>
          <dd>Values, innovation and progressive thinking are the main building blocks at W&Y Associates. These building blocks have become an important part of our culture, and our leadership team strives to grow the business globally through these values.</dd>
          <dd>Our mission is to provide exceptional value and superior quality with various types of accounting related services to help our client grow their business. We have your cost and goals in mind in everything we do.</dd>
        </dl>        
        <p>Our key strategy is to instill the following in order to accomplish our mission:</p> 
        <ul class="circle">
          <li>Building and maintaining close personal relationship with clients.</li>
          <li>Providing services with competent skill sets to help our clients grow.</li>
          <li>Contributing positively to our community and profession.</li>
          <li>Minimizing your cost while achieving your goals.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row portfolio">
    <br />
    <h5>
      <span class="line"></span>
      Meet the team
      <span class="line"></span>
    </h5>
    <br />

    <!-- 1st person -->
    <div class="row">
      <div class="large-5 columns">
        <img class="scale-with-grid img-circle" alt="" src="http://placehold.it/157x157&text=[img]">
        <p class="t-name">Maggie Yifei Wei, CPA</p>
        <p class="t-position">Managing Director</p>
      </div>
      <div class="large-7 columns">
        <div class="testimonials">
          <h5>Maggie</h5>
          <p>Maggie Yifei Wei received her BS in Accounting from Troy University in Alabama, Master of Accountancy with taxation concentration from DePaul University of Chicago and MBA in Finance and International Business from University of Chicago Booth School of Business.  With over 14 years experiences in both private and public accounting including big 4, her expertise include process improvement review, bookkeeping, tax planning and preparation, financial reporting, Sarbanes Oxley compliance, audit and internal controls.  
            <br />
          Fluent in Mandarin with extensive accounting experiences in retail, services and manufacturing industries.</p>
        </div>
      </div>
    </div>

    <br />

    <!-- 2nd person -->
    <div class="row">
      <div class="large-5 columns">
        <img class="scale-with-grid img-circle" alt="" src="http://placehold.it/157x157&text=[img]">
        <p class="t-name">Lily Yeung, CPA</p>
        <p class="t-position">Managing Director</p>
      </div>
      <div class="large-7 columns">
        <div class="testimonials">
          <h5>Lily</h5>
          <p>Alumni of Michigan State University with BS in Accounting and MBA in Global Management from University of Phoenix, Lily Yeung has over 12 years of experience in various accounting and related consulting services. Specializes in consulting services such as financial strategy, financial positioning as well as small business software consulting with various clienteles.
            <br />
          Fluent in Cantonese and Mandarin with extensive accounting experience in non-profit, retail and services industries.</p>
        </div>
      </div>
    </div>

    <br />

  </div>