<% provide(:title, 'About Us') %>
<!-- Second Band (Image Left with Text) -->
 
  <div class="row">
    <div class="large-7 columns">
      <h4>About W&amp;Y Associates LLC</h4>
      <div class="row">
        <div class="large-12 columns">
          <dl>
            <dt>Our Mission &amp; Strategy</dt>
            <dd>Values, innovation and progressive thinking are the main building blocks at W&Y Associates. These building blocks have become an important part of our culture, and our leadership team strives to grow the business globally through these values.</dd>
            <dd>Our mission is to provide exceptional value and superior quality with various types of accounting related services to help our client grow their business. We have your cost and goals in mind in everything we do.</dd>
          </dl>        
          <p>Our key strategy is to instill the following in order to accomplish our mission:</p> 
          <ul class="circle">
            <li>Building and maintaining close personal relationship with clients.</li>
            <li>Providing services with competent skill sets to help our clients grow.</li>
            <li>Contributing positively to our community and profession.</li>
            <li>Minimizing your cost while achieving your goals.</li>
          </ul> 
        </div>
      </div>
    </div>
    <div class="large-5 columns">
      <h5>Meet the team</h5>
      <div class="row">
        <!-- 1st person -->
        <div class="large-12 columns">
          <div class="row">
            <div class="large-5 columns">
            </div>
            <div class="large-7 columns">
              <h6>Maggie Yifei Wei, CPA</h6>
              <p>Managing Director</p>
            </div>
          </div>
        </div>
        <!-- 2nd person -->
        <div class="large-12 columns">
          <div class="row">
            <div class="large-5 columns">
            </div>
            <div class="large-7 columns">
              <h6>Lily Yeung, CPA</h6>
              <p>Managing Director</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>