<% provide(:title, 'About Us') %>
<!-- Second Band (Image Left with Text) -->
 
  <div class="row portfolio">
    <h4><span class="line"></span>
        About W&amp;Y Associates, LLC
        <span class="line"></span>
    </h4>
    <br />
    <div class="row">
      <div class="large-8 large-offset-2 columns">
        <dl>
          <dt>Our Mission &amp; Strategy</dt>
          <dd>Values, innovation and progressive thinking are the main building blocks at W&Y Associates. These building blocks have become an important part of our culture, and our leadership team strives to help our clients to grow through these values.</dd>
          <dd>Our mission is to provide superior quality and exceptional value with our accounting, counsulting, and tax-realted services to help our clients grow their businesses. We keep your goals and costs in mind in everything we do.</dd>
        </dl>        
        <p>Our key strategy is to instill the following in order to accomplish our mission:</p> 
        <ul class="circle">
          <li>building and maintaining close personal relationship with clients.</li>
          <li>providing services with competent skill sets to help our clients grow.</li>
          <li>contributing positively to our community and profession.</li>
          <li>minimizing your costs while achieving your goals.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row portfolio">
    <br />
    <h5>
      <span class="line"></span>
      Meet the team
      <span class="line"></span>
    </h5>
    <br />

    <!-- 1st person -->
    <div class="row">
      <div class="large-5 columns">
        <img class="scale-with-grid img-circle" alt="" src="http://placehold.it/157x157&text=[img]">
        <p class="t-name">Maggie Yifei Wei, CPA</p>
        <p class="t-position">Managing Director</p>
      </div>
      <div class="large-7 columns">
        <div class="testimonials">
          <h5>Maggie</h5>
          <p>Maggie Wei received her Bachelor's degree in Accounting from Troy University in Alabama, a Master of Accountancy degree with Taxation concentration from DePaul University of Chicago and an M.B.A. degree in Finance and International Business from the University of Chicago Booth School of Business.  With over 14 years' experience in both private and public accounting including Big 4, Maggie's expertise includes process improvement review, bookkeeping, tax planning and preparation, financial reporting, Sarbanes-Oxley compliance, audit, and internal controls.  
            <br />
          Fluent in Chinese Mandarin with extensive accounting experiences in retail, services and manufacturing industries.</p>
        </div>
      </div>
    </div>

    <br />

    <!-- 2nd person -->
    <div class="row">
      <div class="large-5 columns">
        <img class="scale-with-grid img-circle" alt="" src="http://placehold.it/157x157&text=[img]">
        <p class="t-name">Lily Yeung, CPA</p>
        <p class="t-position">Managing Director</p>
      </div>
      <div class="large-7 columns">
        <div class="testimonials">
          <h5>Lily</h5>
          <p>An alumni of Michigan State University with a Bachelor's degree in Accounting and an M.B.A. degree in Global Management from University of Phoenix, Lily has over 12 years of experience in various accounting and related consulting services, with special expertise in consulting services such as financial strategy, financial positioning, and small business software consulting.
            <br />
          Fluent in Cantonese and Chinese Mandarin with extensive accounting experience in non-profit, retail and services industries.</p>
        </div>
      </div>
    </div>

    <br />

  </div>