  <% provide(:title, 'Contact') %>
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Get in Touch!</h3>
      <p>We'd love to hear from you. We love getting email <em>all day</em>.</p>
 
      <div class="section-container tabs" data-section>
          <h5 class="title">Contact Our Company</h5>
          <div class="content" data-slug="panel1">
            <form class ="custom">
              <div class="row">
                <div class="large-5 columns">
                  <label class="inline">Name</label>
                </div>
                <div class="large-7 columns">
                  <input type="text" id="yourName" placeholder="e.g., Jane Smith">
                </div>
              </div>
							<div class="row">
                <div class="large-5 columns">
                  <label class="inline">Company</label>
                </div>
                <div class="large-7 columns">
                  <input type="text" id="companyName" placeholder="e.g., ABC Company">
                </div>
              </div>
              <div class="row">
                <div class="large-5 columns">
						      <label for="customDropdown1">Organization Type</label>
						    </div>
						    <div class="large-7 columns">
						      <select id="customDropdown1" class="medium">
						        <option>Individual</option>
						        <option>Partnership</option>
						        <option>LLC</option>
						        <option>LLP</option>
						        <option>S-Corp</option>
						        <option>C-Corp</option>
						        <option>Pass-through entity</option>
						      </select>
						    </div>
              </div>
              <div class="row">
                <div class="large-5 columns">
                  <label class="inline">Address</label>
                </div>
                <div class="large-7 columns">
                  <input type="text" id="yourEmail" placeholder="e.g., 123 Your St., City, ST 12345">
                </div>
              </div>
              <div class="row">
                <div class="large-5 columns">
                  <label class="inline">Phone</label>
                </div>
                <div class="large-7 columns">
                  <input type="text" id="yourEmail" placeholder="e.g., 123-456-7890">
                </div>
              </div>
              <div class="row">
                <div class="large-5 columns">
                  <label class="inline"> Your Email</label>
                </div>
                <div class="large-7 columns">
                  <input type="text" id="yourEmail" placeholder="e.g., a@b.com">
                </div>
              </div>
              <div class="row">
                <div class="large-5 columns">
						      <label for="customDropdown2">Preferred method of contact</label>
						    </div>
						    <div class="large-7 columns">
						      <select id="customDropdown2" class="medium">
						        <option>Email</option>
						        <option>Phone</option>
						      </select>
						    </div>
              </div>
              <div class="row">
                <div class="large-5 columns">
						      <label for="customDropdown3">Preferred time of contact</label>
						    </div>
						    <div class="large-7 columns">
						      <select id="customDropdown3" class="medium">
						        <option>Morning</option>
						        <option>Afternoon</option>
						        <option>Evening</option>
						      </select>
						    </div>
              </div>
              <div class="row">
                <div class="large-5 columns">
						      <label for="customDropdown4">How soon are you looking to have these services in place for your organization?</label>
						    </div>
						    <div class="large-7 columns">
						      <select id="customDropdown4" class="medium">
						        <option>Lees than 1 month</option>
						        <option>1 - 3 month(s)</option>
						        <option>3 - 6 months</option>
						        <option>Longer than 6 months</option>
						        <option>Not sure</option>
						      </select>
						    </div>
              </div>
              <textarea style="height:150px;" rows="15" placeholder="Any other additional information to help us better service you?"></textarea>
              <button type="submit" class="radius button">Submit</button>
            </form>
          </div>
      </div>
    </div> 
    <!-- End Contact Details -->
    <!-- Sidebar -->
    <div class="large-3 columns">
    </div>
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
 