<% provide(:title, 'Home') %>
<!-- First Band (Slider) -->
<div id="slider">
  <div class="row">
    <div class="large-12 column">
    <ul data-orbit data-options="bullets:false;">
      <li><img src="/assets/chicago.jpg" /></li>
      <li><img src="/assets/shanghai.jpg" /></li>
    </ul>
    
    <!-- <hr /> -->

    </div>
  </div>
</div>
  
<!-- Three-up Content Blocks -->
<div id="content">
  <div class="row">
    <div class="large-12 columns">
      <h3>A strategic partner your business can grow with every step of your way</h3>
      <h5 style="font-weight: normal;">Whether you are a local business needing assistance with bookkeeping or a foreign company looking for advice on doing business in the U.S., we are here to help you every step of your way.&#32;&#32;With more than 26 years of combined experiences in accounting, consulting, and tax-related matters, we are able to provide you with high quality services and individualized attention. <b>No client is too small or too big ...</b></h5>
      <br /><br />
    </div>
  </div>
</div>

<!-- Call to Action Panel -->
<div id="contactbox" >
  <div class="row">
    <div class="large-12 columns">    
      <div class="panel">
        <h4>Get in touch!</h4>
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right" data-reveal-id="contactModal">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- contact box -->
<div id="contactModal" class="reveal-modal">
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your lead sentence.</p>
  <p>text goes here</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

