<% provide(:title, 'Home') %>
<!-- First Band (Slider) -->
<div id="slider">
  <div class="row">
    <div class="large-12 columns">
    <ul data-orbit>
      <li><img src="http://placehold.it/1000x400&text=[ img 1 ]" /></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 2 ]" /></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 3 ]" /></li>
    </ul>
    <!-- <div id="slider">
      
    </div> -->
    
    <hr />
    </div>
  </div>
</div>
  
<!-- Three-up Content Blocks -->
<div id="content">
  <div class="row">
    <div class="large-12 columns">
      <h3>A strategic partner to grow with your business every step of your way</h3>
      <h5>Whether you are a business looking for help with bookkeeping or an overseas company looking for information about doing business in US, we are here to help with every step of your way.  With more than 26 years of combined experiences in accounting, consulting and tax related fields, we are able to provide you high quality services with individualized attention.  No client is too small...</h5>
      <br /><br />
    </div>
  </div>
</div>
<!-- Call to Action Panel -->

<div id="contactbox">
  <div class="row">
    <div class="large-12 columns">    
      <div class="panel">
        <h4>Get in touch!</h4>
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>