<% provide(:title, 'Services') %>
<!-- Second Band (Image Left with Text) -->
 
  <div class="row">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]">
    </div>
    <div class="large-8 columns">
      <h4>Our Services</h4>
      <div class="row">
        <div class="large-12 columns">
            <p>Accounting and Tax:</p>        	
        	<ul class="circle">
        		<li>Provide on-site and off-site bookkeeping services</li>
        		<li>Compilation of financial statements</li>
                <li>Financial planning</li>
                <li>Periodic tax fillings including payroll taxes, business and individual income tax returns</li>
                <li>Address IRS inquiries</li>
        	</ul>
    		<p>Consulting:</p>        	
        	<ul class="circle">
        		<li>Process improvement</li>
        		<li>Business software implementation and training</li>
        		<li>Marketing and communication media such as web development</li>
                <li>Assist U.S. companies to do business in China</li>
                <li>Assist Chinese companies to invest in the U.S.</li>
        	</ul>
        </div>
      </div>
    </div>
  </div>
