// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation/foundation-global", "foundation/components/global", "foundation/components/buttons", "foundation/components/button-groups";

//define some color
$aqua: #00b0ad;
$aqualight: #76cccc;
$grey1: #cdcdcd;
$grey2: #f6f6f6;
$grey3: #edf3f3;
$blue1: #8499b2;

//spacing
$spacing: 1em;

h1 {
	color: $aqua;
}

ul {
	margin-left: $spacing*2;
}

button, .button {
    background-color: $aqua;
    border-color: $aqua;
}
#nav-button{
	width: 6.5em;
	padding: 0.625em 1em;
}

a {
	color: $aqua;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: 'Lato', sans-serif;
}

#content {
	background-color: $grey2;
	padding-top: $spacing;
}

#contactbox {
	padding-top: $spacing*1.5;
	background-color: $grey1;

}

#slider {
	padding-top: $spacing*1.5;
	background-color: $aqualight;	
}

#footer {
	padding-top: $spacing;
	background-color: $grey3;
}