// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//"foundation/variable", "foundation/components/global", "foundation/components/buttons", "foundation/components/button-groups";

//define some color
$aqua: #00b0ad;
$aqualight: #76cccc;
$grey1: #cdcdcd;
$grey2: #f6f6f6;
$grey3: #edf3f3;
$blue1: #8499b2;
$line: #c0c0c0;

$white: #FFF;
$somecolor = #F3F3F3;

//spacing
$spacing: 1em;

h1 {
	color: $aqua;
}

ul {
	margin-left: $spacing*2;
}

button, .button {
    background-color: $aqua;
    border-color: $aqua;
}
#nav-button{
	width: 6.5em;
	padding: 0.625em 1em;
}

a {
	color: $aqua;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: 'Lato', sans-serif;
}

.line {
    border-bottom: 1px solid $line;
    display: inline-block;
    margin: 0 10px 7px;
    position: relative;
    width: 200px;
}

.portfolio {
    text-align: center;
    vertical-align: baseline;
}

.mission {
    text-align: left;
    vertical-align: baseline;
}

.points {
	text-align: left;
}

p.t-name {
    color: #707070;
}

p.t-position {
    color: #A5A5A5;
    margin-bottom: 4px;
}

p.t-name, p.t-position {
    font-size: 13px;
    margin: 0;
    text-transform: uppercase;
}

.testimonials {
	width: 400px;
}

.testimonials h5 {
    border-bottom: 1px solid #D0D0D0;
    color: #656565;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 30px;
}

.testimonials p {
    border-bottom: 1px dotted #DADADA;
    color: #8C8C8C;
    font-size: 14px;
    margin: 0 0 10px;
    padding-bottom: 10px;
    text-align: left;
}
.team img {
    border: 0 solid #F2F2F2;
}

img.scale-with-grid {
    height: auto;
    max-width: 100%;
}

.img-circle {
    border-radius: 450px 450px 450px 450px;
}

.tax-jpg {
    padding: 5px;
}

#small-margin {
    margin-bottom: .5em;
}

#custom-image {
    height: 590px;
}

#content {
	background-color: $grey2;
	padding-top: $spacing;
}

#contactbox {
	padding-top: $spacing*1.5;
	background-color: $grey1;

}

#slider {
	padding: $spacing*1.5;
	background-color: $aqualight;	
}

.orbit-slide-number, .orbit-timer {
    display: none;
}

.orbit-container .orbit-prev, .orbit-container .orbit-next {
    background-color: $aqua;
    height: 60px;
    line-height: 50px;
    margin-top: -25px;
    position: absolute;
    text-indent: -9999px !important;
    top: 50%;
    width: 50px;
}

#footer {
    background: url("/assets/lattice-5e08b610.gif") repeat-x scroll center top $grey3;
    clear: both;
    padding: 43px 0;
}