<!-- Footer -->
<div id="footer">
<footer class="row">
  <div class="large-12 columns">
    <!-- <hr /> -->
    <div class="row">
      <div class="large-6 columns">
        <p>W&amp;Y Associates&#44; LLC</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#" data-reveal-id="privacyModal">Privacy Policy</a></li>
          <li><a href="#" data-reveal-id="disclaimerModal">Disclaimer</a></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact us", contact_path %></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>
</div>

<!-- popup box -->
<div id="privacyModal" class="reveal-modal">
  <h2>Privacy</h2>
  <p class="lead">Your lead sentence.</p>
  <p>text goes here</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="disclaimerModal" class="reveal-modal">
  <p class="lead">Disclaimer</p>
  <p>The information contained in this website is for general information purposes only. The information is provided by W&amp;Y Associates&#44; LLC and whilst we endeavor to keep the information up-to-date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
  </p>
  <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of or in connection with the use of this website.</p>
  <p>Every effort is made to keep the website up and running smoothly. However, W&amp;Y Associates&#44; LLC takes no responsibility for and will not be liable for the website being temporarily unavailable due to technical issues beyond our control.</p>
</p>
  <a class="close-reveal-modal">&#215;</a>
</div>