<div class="row">
  <div class="large-3 columns">
    <h1><img src="/assets/WY_logo.png" /></h1>
  </div>
  <div class="large-9 columns">
    <ul class="right button-group">
      <li><a href="/" class="button">Home</a></li>
      <li><a href="/about" class="button">About</a></li>
      <li><a href="/service" class="button">Services</a></li>
      <li><a href="/contact" class="button">Contact</a></li>
    </ul>
  </div>
</div>
  
<!-- End Header and Nav -->