<div class="row">
  <div class="large-6 small-6 columns">
    <h1><img src="/assets/WY_logo.png" /></h1>
  </div>
  <div class="large-6 small-6 columns button-bar">
    <ul class="right button-group">
      <li><a href="/" class="button" id="nav-button">Home</a></li>
      <li><a href="/about" class="button" id="nav-button">About</a></li>
      <li><a href="/service" class="button" id="nav-button">Services</a></li>
      <li><a href="/contact" class="button" id="nav-button">Contact</a></li>
    </ul>
  </div>
</div>
  
<!-- End Header and Nav -->